body{
    padding:0;
    margin:0;
}
canvas{
    background:#ddd;
}
ul{
    list-style: none;
}

#tools{
    position:fixed;
    right:0;
    margin:4px 4px 0 0;
    display:flex;
    flex-direction:column;
}
#tools > *{
    margin-bottom:4px;
    text-align:center;
}

#mode{
    display:flex;
    justify-content:space-between;
}
#mode > button{
    width:calc(50% - 2px);
    opacity:.5;
}
#mode > .active{
    opacity: 1;
}

#custom-context-menu{
    user-select: none;
    display:none;
    position:fixed;
    margin:0;
    background:white;
    width:200px;
    box-sizing:border-box;
    padding:5px 0;
    left:100px;
    top:100px;
    box-shadow:2px 2px 5px 0 rgba(0, 0, 0, .2);
}
#custom-context-menu li{
    width:100%;
    box-sizing:border-box;
    padding:5px 20px;
    cursor:pointer;
    font-size:14px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#custom-context-menu li > span{
    font-size:20px;
    height:10px;
    position: relative;
    top:-12px;
}
#custom-context-menu li:hover{
    background: rgba(0, 0, 0, .1);
}
#custom-context-menu li ul{
    display: none;
    position: absolute;
    width: 100%;
    background: white;
    box-sizing:border-box;
    padding:5px 0;
    box-shadow:2px 2px 5px 0 rgba(0, 0, 0, .2);
    left:100%;
    top:0;
}
#custom-context-menu > li:hover > ul{
    display: block;
}