body{
    font-family: 'Montserrat', sans-serif;
    padding:0;
    user-select: none;
    margin:0;
    font-size: 16px;
}
canvas{
    background:#ddd;
}
ul{
    list-style: none;
}
*{
    font-family: 'Montserrat', sans-serif;
    padding:0;
    margin:0;
}

#tools{
    position:fixed;
    right:0;
    margin:4px 4px 0 0;
    display:flex;
    flex-direction:column;
}
#tools button{
    padding:2px 10px;
}
#tools > *{
    margin-bottom:4px;
    text-align:center;
}

#mode{
    display:flex;
    justify-content:space-between;
}
#mode > button{
    width:calc(50% - 2px);
    opacity:.5;
}
#mode > .active{
    opacity: 1;
}

#custom-context-menu{
    user-select: none;
    display:none;
    position:fixed;
    margin:0;
    background:white;
    width:200px;
    box-sizing:border-box;
    padding:5px 0;
    left:100px;
    top:100px;
    box-shadow:2px 2px 5px 0 rgba(0, 0, 0, .2);
}
#custom-context-menu li{
    width:100%;
    box-sizing:border-box;
    padding:5px 20px;
    cursor:pointer;
    font-size:14px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#custom-context-menu li > span{
    font-size:20px;
    height:10px;
    position: relative;
    top:-12px;
}
#custom-context-menu li:hover{
    background: rgba(0, 0, 0, .1);
}
#custom-context-menu li ul{
    display: none;
    position: absolute;
    width: 100%;
    background: white;
    box-sizing:border-box;
    padding:5px 0;
    box-shadow:2px 2px 5px 0 rgba(0, 0, 0, .2);
    left:100%;
    top:0;
}
#custom-context-menu > li:hover > ul{
    display: block;
}


#copyright{
    position: fixed;
    width:max-content;
    left:0;
    bottom:0;
    color:black;
    padding-left:10px;
    padding-bottom:7px;
}
#copyright > p > a{
    color:tomato;
}




.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:rgba(0,0,0,.3);
    z-index: 900;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .2s;
    overflow-y: auto;
}
.modal.open{
    display: flex;
    visibility: visible;
    opacity: 1;
}
.modal-body{
    box-shadow: 0 0 50px rgba(0,0,0,.15);
    background: white;
    width:calc(100% - 50px);
    max-width: 600px;
    height:max-content;
    box-sizing: border-box;
    padding:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.modal-close{
    position: absolute;
    left:-25px;
    top: -25px;
    width:50px;
    height: 50px;
    background: tomato;
    color:white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#welcome-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#welcome-modal > *{
    width: 100%;
    text-align: center;
}
#welcome-modal-title{
    color:#444;
}
#welcome-modal-description{
    margin-top:30px;
    color:#444;
    line-height: 25px;
}
#welcome-modal-description > a{
    color:tomato;
}
#welcome-modal-tutorial{
    width:max-content;
    padding:10px 20px;
    font-size: 16px;
    border:1px solid tomato;
    color:tomato;
    cursor: pointer;
    position: relative;
    background: transparent;
    box-shadow: inset 0 0 0 0 tomato;
    transition: ease-out 0.4s;
}
#welcome-modal-tutorial:hover{
    box-shadow: inset 400px 0 0 0 tomato;
    color:white;
}
#welcome-modal-buttons{
    margin-top:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#welcome-modal-skip{
    text-decoration: none;
    margin-top:10px;
    color:#444;
}